# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Show how arithmetic calculation is perfomed in Python

Some of the popular languages that Data Scientists use are:
   
    1. Python
    2. R
    3. SQL
    4. Java

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. Keras
    3. Numpy
    4. Matplotlib
    5. TensorFlow


| Data Science Tools|  
| ----------------- |
| MySQL|
|Kibana |
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

a = (3*4) + 5
a # return the result

In [ ]:
# This will convert 200 minutes to hours by diving by 60

x = 200  
y = x/60 
y # return the value in hours

## Author
Thaynara Caminhas Oliveira